{% extends 'base.html' %}

{% block title %}List of Hospitals{% endblock %}

{% block content %}
  <section class="section">
    <div class="container">
      <h1 class="title">List of Hospitals</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Hospital Name</th>
            <th>Beds Available</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for hospital in hospitals %}
          <tr>
            <td>{{ hospital.name }}</td>
            <td>{{ hospital.beds_available }} Beds Available</td>
            <td>
              <a class="button is-light" href="{% url 'update_hospital' hospital.pk %}">Update</a>
              <a class="button is-light" href="{% url 'delete_hospital' hospital.pk %}">Delete</a>
                
              
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
{% endblock %}
